# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

serviceAccountKey.json
.runtimeconfig.json
.firebase
ui-debug.log
yarn-error.log
tsconfig.dev.json
.env*
